@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@100;300;400&display=swap');

:root{
    --red:#FF4F5B;
}

*{
    font-family: 'Cabin', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.14rem;
}

html::-webkit-scrollbar-track{
    background: rgb(19, 214, 214);
}

html::-webkit-scrollbar-thumb{
    background: rgb(116, 24, 221);
}

body{
    background:rgb(7, 244, 252);
}

section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 9rem;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    background:rgb(218, 233, 16);
    color:rgb(170, 90, 90);
    padding:.8rem 3rem;
    align-items: center;
    border:.2rem solid rgb(55, 197, 67) ;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 1.5rem;
  }
  
  .btn:hover{
    background:rgb(176, 182, 189);
    color:rgb(15, 30, 228);
  }

  .heading{
    text-align: center;
    padding:2.5rem 0
  }
.heading span{
    font-size: 3.5rem;
    background:rgba(255, 84, 4, 0.2);
    color:rgb(15, 30, 228);
    border-radius: .5rem;
    padding:.2rem 1rem;
  }
  


header{
    width:100%;
    background: rgb(176, 182, 189);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2rem ;
    
}

header .logo{
    font-size: 3.5rem;
    color:rgb(86, 33, 184);
}



header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; 
}

header .navbar ul li{
    margin-left: 2.5rem;
}

header .navbar ul li a{
    color:rgb(86, 33, 184);
    font-size: 2.5rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--red);
    border-bottom: .2rem solid var(--red);
    padding:.7rem 0;
}

#menu{
    font-size: 3rem;
    color:#999;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  .home .content{
    text-align: center;
  }
  
  
  
  .home .content p{
    font-size: 2.5rem;
    color:#fff;
    padding:.5rem 0;
  }
  
  .home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 90%;
    width:100%;
    object-fit: cover;
  }
  
  

.protect .heading{
    text-align: center;
    padding:1rem;
}

.protect .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.protect .box-container .box{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    margin:2rem;
    width:34rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
}

.protect .box-container .box img{
    height: 17rem;
    width:17rem;
}

.protect .box-container .box h3{
    font-size: 2.5rem;
    color:#666;
    padding:1rem 0;
}

.protect .box-container .box p{
    font-size: 1.4rem;
    color:#999;
    padding:.5rem;
}

.protect .box-container .box:hover{
    transform:translateY(-1.2rem);
}

#main{
    height: 10%;
    width:88%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: 1rem;
}

.vaccine .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.6rem;
  }
  
  .vaccine .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding:5rem;
    text-align: center;
  }
  
  .vaccine .box-container .box i{
    padding:1rem;
    font-size: 5rem;
    color:#e71414;
  }
  
  .vaccine .box-container .box h2{
    font-size: 2.5rem;
    color:#333;
  }
  
  .vaccine .box-container .box h3{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
  }
  
  .vaccine .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  

.footer{
    min-height: auto;
    padding-top: 0;
    background:#333;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding-bottom: 2rem;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
}

.footer .box-container .box p i{
    padding-right: 1rem;
    color:var(--red);
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--red);
}

.footer .box-container .box .share{
    display: flex;
    flex-wrap: wrap;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 5rem;
    border:.1rem solid #fff3;
    margin-right: 1rem;
}

.footer .box-container .box .share a:hover{
    background:#fff;
}

.footer .credit{
    padding:2rem 1rem;
    text-align: center;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
    border-top: .1rem solid #fff3;
}

.footer .credit a{
    color:#4fe5ffda;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:-120%;
        height: 100%;
        width:100%;
        background:#eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        display: block;
        padding:1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        padding:1rem;
        background:var(--red);
        color:#fff;
        border:none;
        border-radius: 5rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        left:0;
    }

    .home .content{
        text-align: center;
    }

    .prevent .row:last-child{
        flex-flow: column-reverse;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:0 3%;
        padding-top: 9rem;
    }

}